@model vuez.Models.VstupnaKontrola

<h1>Detail protokolu</h1>

<div class="protocol-container">
    <table class="header-table">
        <tr>
            <td class="logo">
                <img src="~/images/VUEZlogo.png" alt="VUEZ Logo" class="logo-img" />
            </td>
            <td class="company-name">
                <h3>V U E Z, a.s.</h3>
            </td>
            <td class="protocol-number">
                <strong>Číslo protokolu:</strong>
                <input asp-for="CisloProtokolu" class="protocol-input" readonly />
            </td>
        </tr>
    </table>

    <h2 class="protocol-title">PROTOKOL: VSTUPNÁ TECHNICKÁ KONTROLA</h2>

    <form>
        <table class="form-table">
            <tr><td><label asp-for="NazovVyrobku"></label></td><td><input asp-for="NazovVyrobku" class="form-control" readonly /></td></tr>
            <tr><td><label asp-for="Dodavatel"></label></td><td><input asp-for="Dodavatel" class="form-control" readonly /></td></tr>
            <tr><td><label asp-for="ZakazkoveCislo"></label></td><td><input asp-for="ZakazkoveCislo" class="form-control" readonly /></td></tr>
            <tr><td><label asp-for="KontrolaPodla"></label></td><td><input asp-for="KontrolaPodla" class="form-control" readonly /></td></tr>
            <tr><td><label asp-for="SpravnostDodavky"></label></td><td><input asp-for="SpravnostDodavky" class="form-control" readonly /></td></tr>
            <tr><td><label asp-for="ZnacenieMaterialu"></label></td><td><input asp-for="ZnacenieMaterialu" class="form-control" readonly /></td></tr>
            <tr><td><label asp-for="CistotaPovrchu"></label></td><td><input asp-for="CistotaPovrchu" class="form-control" readonly /></td></tr>
            <tr><td><label asp-for="Balenie"></label></td><td><input asp-for="Balenie" class="form-control" readonly /></td></tr>
            <tr><td><label asp-for="Poskodenie"></label></td><td><input asp-for="Poskodenie" class="form-control" readonly /></td></tr>
            <tr><td><label asp-for="IneKroky"></label></td><td><input asp-for="IneKroky" class="form-control" readonly /></td></tr>
            <tr><td><label asp-for="Poznamky"></label></td><td><textarea asp-for="Poznamky" class="form-control" readonly></textarea></td></tr>
            <tr>
                <td><label asp-for="Miesto">Miesto:</label></td>
                <td><input asp-for="Miesto" class="form-control" readonly /></td>
            </tr>
            <tr>
                <td><label asp-for="Datum">Dátum:</label></td>
                <td><input asp-for="Datum" class="form-control" readonly /></td>
            </tr>

            <!-- Podpisy zobrazené vedľa seba -->
            <tr>
                <td colspan="2" style="text-align: center;">
                    @if (!string.IsNullOrEmpty(Model.PodpisManagerUrl))
                    {
                        <div>
                            <strong>Podpis manažéra:</strong><br />
                            <img src="@Model.PodpisManagerUrl" style="max-height: 100px;" />
                        </div>
                    }
                    else
                    {
                        <div><strong>Podpis manažéra:</strong> ---</div>
                    }

                    <br />

                    @if (!string.IsNullOrEmpty(Model.PodpisTechnikUrl))
                    {
                        <div>
                            <strong>Podpis technika:</strong><br />
                            <img src="@Model.PodpisTechnikUrl" style="max-height: 100px;" />
                        </div>
                    }
                    else
                    {
                        <div><strong>Podpis technika:</strong> ---</div>
                    }
                </td>
            </tr>
        </table>

        <div class="submit-container mt-4">
            <a asp-action="Index" class="btn btn-secondary">Späť na zoznam</a>
        </div>
    </form>
</div>
