@{
    ViewData["Title"] = "Testeri";
}

<h2>Informácie pre testerov</h2>

<div class="alert alert-warning mt-3" role="alert">
    Táto stránka obsahuje dôležité pokyny pre testerov. Prosím, prečítajte si všetky body pozorne.
</div>

<ul class="list-group mt-4">
    <li class="list-group-item">Overte funkčnosť všetkých formulárov a tlačidiel.</li>
    <li class="list-group-item">Overte funkčnosť každého protokolu, či sa vytvorí, ďalej testujete schopnosť úpravy a mazanie podpisov.</li>
    <li class="list-group-item">Ako nový užívateľ si skúste pridať podpis a podpísať nepodpísaný protokol v zavislosti od toho, či vám to povoľuje vaša právomoc</li>

    <li class="list-group-item">Skontrolujte responzívny dizajn na mobiloch.</li>
   
  
</ul>