@model vuez.Indicators

<h2>Indicator Details</h2>

<div>
    <h4>@Model.Name</h4>
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">Price</dt>
        <dd class="col-sm-10">@Model.Type</dd>
    </dl>
</div>

<a asp-action="Index" class="btn btn-secondary">Back to List</a>
