@model vuez.Indicators

<h2>Úprava Meradiel</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name">Názov</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Type">Typ</label>
        <input asp-for="Type" class="form-control" />
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Producer"></label>
        <input asp-for="Producer" class="form-control" />
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="List_Num"></label>
        <input asp-for="List_Num" class="form-control" />
        <span asp-validation-for="List_Num" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Uložiť</button>
    <a asp-action="Index" class="btn btn-secondary">Späť na zoznam</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
