
<h1>Konfiguračný list programovej položky</h1>

<div class="protocol-container">
    <!-- Hlavička dokumentu -->
    <table class="header-table">
        <tr>
            <td class="logo">
                <img src="~/images/VUEZlogo.png" alt="VUEZ Logo" class="logo-img" />
            </td>
            <td class="company-name">
                <h3>V Ú E Z, a.s.</h3>
            </td>


        </tr>
    </table>


    <table class="form-table">
        <thead>
            <tr>
                <th colspan="2">Názov práce</th>
               <th rowspan="3">Prva skuska</th>

               
           </tr>
             <tr>
               
                 <th>Plánovaný dátum</th>
         
             </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
            <tr>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
            </tr>
            <tr>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>

            </tr>


            <tr>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>

            </tr>
            <tr>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>

            </tr>

            <tr>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>

            </tr>


            <tr>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>

            </tr>
            <tr>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>
                <td><input type="text" id="zakazkove-cislo" class="form-control" required /></td>

            </tr>

    </table>
    </div>






  

 