@{
    ViewData["Title"] = "Domovská stránka";
}

<div class="alert alert-info mt-3" role="alert">
    <strong>Upozornenie pre testerov:</strong> Bližšie informácie nájdete v záložke <em>Testeri</em>.
</div>

<div class="image-section">
    <img src="~/images/vuez1.png" alt="Example Image" class="homepage-image" />
</div>
