@model vuez.Models.VystupnaKontrola

<h1>Výstupná kontrola</h1>

<div class="protocol-container">
    <!-- Hlavička dokumentu -->
    <table class="header-table">
        <tr>
            <td class="logo">
                <img src="~/images/VUEZlogo.png" alt="VUEZ Logo" class="logo-img" />
            </td>
            <td class="company-name">
                <h3>V U E Z, a.s.</h3>
            </td>
            <td class="protocol-number">
                <strong>Číslo protokolu:</strong>
                <input asp-for="CisloProtokolu" class="protocol-input" readonly />
            </td>

        </tr>
    </table>

    <!-- Názov protokolu -->
    <h2 class="protocol-title">PROTOKOL: VÝSTUPNÁ TECHNICKÁ KONTROLA</h2>

    <form asp-action="Create" method="post">
        <!-- Hlavná tabuľka formulára -->
        <table class="form-table">
            <tr>
                <td><label asp-for="NazovVyrobku">Názov a typ výrobku:</label></td>
                <td><input asp-for="NazovVyrobku" class="form-control" required /></td>
            </tr>
            <tr>
                <td><label asp-for="Objednavatel">Objednávateľ:</label></td>
                <td><input asp-for="Objednavatel" class="form-control" required /></td>
            </tr>
            <tr>
                <td><label asp-for="ZakazkoveCislo">Zákazkové číslo:</label></td>
                <td><input asp-for="ZakazkoveCislo" class="form-control" required /></td>
            </tr>
            <tr>
                <td><label asp-for="KontrolaPodla">Kontrola vykonaná podľa:</label></td>
                <td><input asp-for="KontrolaPodla" class="form-control" /></td>
            </tr>
            <tr>
                <td><label asp-for="KompletnostTechaVyr">Kompletnosť technoligických a výrobných operacií:</label></td>
                <td><input asp-for="KompletnostTechaVyr" class="form-control" /></td>
            </tr>
            <tr>
                <td><label asp-for="KompletnostKontrolnych">Kompletnosť kontrolných operacií:</label></td>
                <td><input asp-for="KompletnostKontrolnych" class="form-control" /></td>
            </tr>
            <tr>
                <td><label asp-for="KompletnostSprievodnej">Kompletnosť sprievodnej technickej dokumentácie:</label></td>
                <td><input asp-for="KompletnostSprievodnej" class="form-control" /></td>
            </tr>
            <tr>
                <td><label asp-for="Pripravenostkexp">Pripravenosť k expedicií:</label></td>
                <td><input asp-for="Pripravenostkexp" class="form-control" /></td>
            </tr>
        
            <tr>
                <td><label asp-for="Poznamky">Poznámky:</label></td>
                <td><textarea asp-for="Poznamky" class="form-control"></textarea></td>
            </tr>
        </table>

        <!-- Podpisy -->
        <table class="signature-table">
            <tr>
            <tr>
                <td><label asp-for="Miesto">Miesto:</label></td>
                <td><input asp-for="Miesto" class="form-control" /></td>
            </tr>
            <tr>
                <td><label asp-for="Datum">Dátum:</label></td>
                <td><input asp-for="Datum" class="form-control" /></td>
            </tr>
                <td></td>
            </tr>
            <tr>
                <td>.......................................................</td>
                <td>.......................................................</td>
                <td>.......................................................</td>
            </tr>
            <tr>
                <td>podpis vedúceho prác</td>
                <td>podpis projekt - manažéra</td>
                <td>pečiatka a podpis pracovníka TK</td>
            </tr>
        </table>

        <!-- Uložiť tlačidlo -->
        <div class="submit-container">
            <button type="submit" class="btn btn-primary">Uložiť</button>
            <a asp-action="Index" class="btn btn-secondary">Späť na zoznam</a>
        </div>
    </form>
</div>


