@model vuez.Models.VystupnaKontrola

<h1>Detail protokolu</h1>

<div class="protocol-container">
    <!-- Hlavička dokumentu -->
    <table class="header-table">
        <tr>
            <td class="logo">
                <img src="~/images/VUEZlogo.png" alt="VUEZ Logo" class="logo-img" />
            </td>
            <td class="company-name">
                <h3>V U E Z, a.s.</h3>
            </td>
            <td class="protocol-number">
                <strong>Číslo protokolu:</strong>
                <input asp-for="CisloProtokolu" class="protocol-input" readonly />
            </td>
        </tr>
    </table>

    <h2 class="protocol-title">PROTOKOL: VÝSTUPNÁ TECHNICKÁ KONTROLA</h2>

    <!-- FORM na zobrazenie readonly údajov -->
    <form>
        <table class="form-table">
            <tr>
                <td><label asp-for="NazovVyrobku">Názov a typ výrobku:</label></td>
                <td><input asp-for="NazovVyrobku" class="form-control" readonly /></td>
            </tr>
            <tr>
                <td><label asp-for="Objednavatel">Objednávateľ:</label></td>
                <td><input asp-for="Objednavatel" class="form-control" readonly /></td>
            </tr>
            <tr>
                <td><label asp-for="ZakazkoveCislo">Zákazkové číslo:</label></td>
                <td><input asp-for="ZakazkoveCislo" class="form-control" readonly /></td>
            </tr>
            <tr>
                <td><label asp-for="KontrolaPodla">Kontrola podľa:</label></td>
                <td><input asp-for="KontrolaPodla" class="form-control" readonly /></td>
            </tr>
            <tr>
                <td><label asp-for="KompletnostTechaVyr">Kompletnosť tech. a výrobných operácií:</label></td>
                <td><input asp-for="KompletnostTechaVyr" class="form-control" readonly /></td>
            </tr>
            <tr>
                <td><label asp-for="KompletnostKontrolnych">Kompletnosť kontrolných operácií:</label></td>
                <td><input asp-for="KompletnostKontrolnych" class="form-control" readonly /></td>
            </tr>
            <tr>
                <td><label asp-for="KompletnostSprievodnej">Kompletnosť sprievodnej dokumentácie:</label></td>
                <td><input asp-for="KompletnostSprievodnej" class="form-control" readonly /></td>
            </tr>
            <tr>
                <td><label asp-for="Pripravenostkexp">Pripravenosť k expedícii:</label></td>
                <td><input asp-for="Pripravenostkexp" class="form-control" readonly /></td>
            </tr>
            <tr>
                <td><label asp-for="Poznamky">Poznámky:</label></td>
                <td><textarea asp-for="Poznamky" class="form-control" readonly></textarea></td>
            </tr>
        </table>

        <table class="signature-table">
            <tr>
                <td><label asp-for="Miesto">Miesto:</label></td>
                <td><input asp-for="Miesto" class="form-control" readonly /></td>
            </tr>
            <tr>
                <td><label asp-for="Datum">Dátum:</label></td>
                <td><input asp-for="Datum" class="form-control" readonly /></td>
            </tr>
            <tr>
                <td>.......................................................</td>
                <td>.......................................................</td>
                <td>.......................................................</td>
            </tr>
            <tr>
                <td>podpis vedúceho prác</td>
                <td>podpis projekt - manažéra</td>
                <td>pečiatka a podpis pracovníka TK</td>
            </tr>
        </table>

        <div class="submit-container">
           
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Upraviť</a>
        </div>
    </form>
</div>
